@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

@layer base {
  .link {
    @apply hover:underline cursor-pointer;
  }
  .quantity-btn {
    @apply p-1 rounded-full bg-yellow-500 w-10 mx-2 text-xl font-bold;
  }

  .com-input {
    @apply py-6 px-5 my-1 w-full h-2 text-lg hover:bg-gray-50 rounded-md border outline-none shadow-lg;
  }

  .btn-primary {
    @apply py-1 mt-2 w-full text-xl text-gray-800 bg-yellow-400 hover:bg-yellow-500 rounded-md shadow-md;
  }
  .btn-secondary {
    @apply mt-2 w-full h-10 text-lg bg-gray-100 hover:bg-gray-200 rounded-md border outline-none;
  }
}
.hrDash {
  border-style: none;
  border-top-style: dashed;
  border-color: rgb(230, 230, 230);
  border-width: 1px;
}
hr {
  border-color: rgb(207, 207, 207);
}
.card {
  backdrop-filter: blur(2px);
  background-color: rgb(231 209 189 / 49%);
  border-radius: 10px;
  padding: 50px 20px;
  text-shadow: 2px 3px 9px rgb(159 159 159 / 76%);
}

.category-blur {
  -webkit-backdrop-filter: blur(2px);
  background: #4c4d4f61;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(10px);
}

.blur-bg {
  background: #fffffff0;
  backdrop-filter: blur(11.8px);
  -webkit-backdrop-filter: blur(11.8px);
}
